<md-dialog aria-label="Discover Mails">
    <md-dialog-content>
        <div class="md-dialog-content">
            <md-subheader>Put sender configurations</md-subheader>
            <div layout="column">
                <md-input-container>
                    <label>Mail/User</label>
                    <input type="email" ng-model='data.user'/>
                </md-input-container>
                <md-input-container>
                    <label>Password</label>
                    <input ng-model='data.password'/>
                </md-input-container>

                <md-select ng-model="data.service" placeholder="Service">
                    <md-option ng-repeat='service in data.services' ng-value="service">{{service}}</md-option>
                </md-select>
            </div>
        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <md-button ng-click="ok(data)">
            Discover all
        </md-button>
        <md-button ng-click="cancel()">
            Cancel
        </md-button>
    </md-dialog-actions>
</md-dialog>